@charset "utf-8";
/* CSS Document */

/*头部div样式*/
#header{
	float:left;
	background:#fff;
	min-height:230px;
	width:100%;
	padding:0em 2em;
	box-shadow: -5px 4px 50px -21px #000;
	margin-top:1em;
	line-height:80px;
}

/*logo样式*/
#top_logo{
	float:left;
	width:20%;
	height:80px;
}

/*头部布局样式*/
#head_other{
	float:right;
	width:70%;
	text-align:left;
}

#head_other #search_text{
	width:300px;
	height:30px;
}

#head_other #search_button{
	height:35px;
	cursor:pointer;
}

#tieba_title_div{
	width:100%;
	
}

#tieba_icon{
	float:left;
	border:2px solid #ea6f4d;
	padding:0px;
}

#tieba_icon img{
	width:80px;
	height:80px;
}

#tieba_title{
	float:left;
	text-align:center;
	font-size:25px;
	font-weight:800;
	margin-left:10px;
}

#tieba_title input{
	height:40px;
	width:70px;
	background:#51a460;
	border-radius:5px;
	font-weight:700;
	font-size:large;
	margin-left:5px;
	color:#FFF;
	border: 0 solid #000000;
}

#tieba_title input:hover{
	background:#ff0808;
	color:#fff;
	cursor:pointer;
}

#focus{
	font-size:18px;
	font-weight:600;
	margin-left:50px;
	text-align:center;
}

#tieba_introduction{
	font-size:18px;
	font-weight:600;
	float:left;
	margin-left:10px;
}

/*主要内容区*/
#content{
	float:left;
	background:#fff;
	min-height:100px;
	width:100%;
	box-shadow: -5px 4px 50px -21px #000;
	text-align:left;
	padding:2em;
	margin-top:2em;
	display:block;
}

.note_list{
	float:left;
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:0;
	padding-right:0;
	min-height:50px;
	background:#F6F7FB;
	border-radius:7px;
}

.note_list .left{
	float:left;
	width:7%;
	height:100%;
	text-align:center;
}

.note_list .left span{
	float:left;
	padding:5px 8px;
	margin:3px;
	background:#ea6f4d;
	border-radius:5px;
	border: 0 solid #000000;
}

.note_list .right{
	float:right;
	width:93%;
	height:100%;
}

.note_list .right a{
	text-decoration:none;
	color:#06F;
	font-size:17px;
	font-weight:800;
}

.note_list .right span{
	float:right;
	margin-right:10px;
}

.note_list .right p{
	padding:0;
	margin:3px 5px;
}

.note_info{
	text-align:right;
	font-size:17px;
	font-weight:600;
	color:#06F;
}

.note_list .right p img{
	cursor:pointer;
	margin:5px;
	width:150px;
	height:200px;
}

.note_list .right a:hover{
	text-decoration:underline;
	color:#06C;
	cursor:pointer;
}

.note_divline{
	width:100%;
	height:10px;
	float:left;
	clear:both;
}

#title{
	background:#fff;
	height:auto;
	min-height:80px;
	width:100%;
	box-shadow: -5px 4px 50px -21px #000;
	text-align:left;
	padding:2em;
}

#note_list{
	width:90%;
	margin:0 auto;
}

#div_page{
	float:left;
}

.fpage a{
	border:1px solid;
	font-size:20px;
	padding:2px,3px;
}

#edit{
	float:left;
	background:#FFF;
	min-height:100px;
	width:100%;
	padding:0em 2em;
	margin:1em 0;
	text-align:center;
}


#edit form{
	float:left;
	margin:10px 0;
	width:100%;
}

#edit form table{
	width:100%;
}

#edit form table .textarea{
	width:60%;
}
#edit form table .textsubmit{
	width:100px;
	height:30px;
	font-size:15px;
	font-weight:600;
}

#edit form table span{
	padding:2px;
	margin:2px;
	border-right:1px solid #999;
}

#edit form table span:hover{
	cursor:pointer;
	color:#F93;
}

#edit form table .title_style{
	font-size:17px;
	font-weight:700;
}

#edit #edit_div{
	float:left;
	background:#F6F7FB;
	width:100%;
	margin-bottom:1em;	
}

#fatie{
	float:left;
	width:100%;
	font-size:16px;
	font-weight:700;
	text-align:center;
	padding-bottom:1em;
}

.btn_background{
	text-decoration:none;
	padding:3px 15px;
	background:#51a460;
	border-radius:10px;
	color:#FFF;
	border: 0 solid #000000;
}

.btn_background:hover{
	background:#ff0808;
	color:#fff;
	cursor:pointer;
}


